
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name of the site</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="images/x-icon" />  
    <script type="importmap">
        {
            "imports": {
                "three": "./three/build/three.module.js" ,
                "three/addons/": "./three/examples/jsm/" ,
                "dat.gui": "./dat.gui/build/dat.gui.module.js" ,
                "postprocessing": "https://esm.sh/postprocessing",
                "gsap": "./gsap/all.js",
                "three-mesh-bvh": "https://cdn.jsdelivr.net/npm/three-mesh-bvh@0.7.3/build/index.module.js"
  
            }
        }
    </script>
